* {
  margin: 0;
  padding: 0px;
  box-sizing: border-box;
}

.heder-container {
  height: 18vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: rgb(31, 30, 30);
  padding: 40px 50px;
}

.left-side-heder h1 {
  color: white;
}

.midel-side-heder ul {
  display: flex;

  list-style: none;
}

.midel-side-heder li a {
  color: white;
  text-decoration: none;
  padding: 30px;
  font-size: 20px;
}

.right-side-heder {
  display: flex;
  align-items: center;
}

.right-side-heder .user-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  color: white;
  border-radius: 100%;
  border: 2px solid red;
}
.right-side-heder .user-icon i {
  font-size: 20px;
}
.right-side-heder .login-button {
  background: linear-gradient(to right, rgb(255, 99, 57), rgb(255, 34, 89));
  color: aliceblue;
  font-size: 20px;
  padding: 8px 24px;
  margin-left: 20px;
  align-items: center;

  border-radius: 5%;
  border: none;
}
.register-container {
  height: 90vh;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.4)
    ),
    url(./img/reg-bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
.Grident-word {
  /* background: -webkit-linear-gradient(90deg, #f10dcb, #dfcccc); */
  background: linear-gradient(to left, rgb(238, 69, 22), rgb(255, 34, 89));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.register-container h1 {
  padding-left: 20px;
  padding-top: 10px;
}

.register-container h2 {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 20px;
  font-size: 100px;
  color: white;
}

.register-container .reg-button {
  background: linear-gradient(to right, rgb(255, 99, 57), rgb(255, 34, 89));
  color: aliceblue;
  font-size: 20px;
  padding: 5px;
  align-items: center;
  margin-bottom: 30px;
  margin-left: 30px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5%;
  border: none;
}

.joine-container {
  display: flex;
  justify-content: space-between;
  background-color: rgb(27, 27, 27);
  color: white;
  padding-top: 100px;
  padding-left: 60px;
  padding-right: 60px;
  overflow: hidden;
}

.joine-container h1 {
  padding-top: 30px;
  font-size: 50px;
  margin-bottom: 10px;
}

.joine-container h2 {
  padding-top: 30px;
}

.joine-container h3 {
  padding-top: 40px;
  font-size: 30px;
}

.joine-container p {
  padding-top: 40px;
  padding-bottom: 40px;
  font-size: 20px;
}

.joine-container-left ul li {
  padding: 10px;
  font-size: 20px;
}

.joine-container-left button {
  background: linear-gradient(to right, rgb(255, 99, 57), rgb(255, 34, 89));
  color: aliceblue;
  font-size: 20px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5%;
  border: none;
}

.joine-container-right img {
  padding-left: 90px;
  align-items: center;
  max-width: 100%;
  width: 100%;
}

.joine-container-right .join-img-2 {
  position: relative;
  top: -180px;
}

.services-section {
  background-color: rgb(27, 27, 27);
  padding-top: 0px;
  padding-left: 60px;
  padding-right: 60px;
  padding-bottom: 60px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 30px;
  background-color: rgb(15, 12, 12);
  margin-top: 100px;
}
.services-container-left img {
  max-width: 100%;
  width: 100%;
}
.services-section h1 {
  padding-bottom: 10px;
  font-size: 50px;
  text-align: center;
  color: aliceblue;
  background-color: rgb(27, 27, 27);
}

.services-container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;

  color: aliceblue;
  padding-left: 60px;
}

.services-container-right h2 {
  font-size: 50px;
}

.services-container-right p {
  padding-top: 30px;

  font-size: 25px;
  text-align: left;
}

.services-container-right button {
  font-size: 20px;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: rgb(241, 64, 173);
  color: aliceblue;
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  border-radius: 10px;
  border: none;
}
.See-button {
  display: flex;
  justify-content: end;
}
.see-details-button {
  background: linear-gradient(to right, rgb(255, 99, 57), rgb(255, 34, 89));
  color: aliceblue;
  font-size: 10px;
  border-radius: 5%;
  border: none;
  justify-content: end;
  height: 50px;
  width: 150px;
}

.choose-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9)),
    url(/img/corporate-meeting.jpg);
  background-size: cover;
  color: white;
  padding-top: 100px;
  padding-bottom: 80px;
}
.choose-left {
  margin-left: 50px;
  margin-top: 100px;
}
.choose-left h2 {
  font-size: 25px;
  padding-top: 30px;
}
.choose-icon-flex {
  display: flex;
  justify-content: space-between;
}
.choose-icon-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.choose-icon-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 50px;
}
.choose-icon-3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
}
.choose-icon-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  padding-top: 50px;
}
.choose-icon i {
  font-size: 70px;
  align-items: center;
  padding: 30px;
  border-radius: 100%;
  border: 2px solid rgb(248, 247, 247);
}
.choose-right {
  justify-content: center;
  margin: 40px;
}
.choose-right h2 {
  padding-bottom: 40px;
}
.choose-right h1 {
  padding-bottom: 40px;
  font-size: 50px;
}
.choose-right p {
  font-size: 28px;
}
.choose-right button {
  background: linear-gradient(to right, rgb(255, 99, 57), rgb(255, 34, 89));
  color: aliceblue;
  font-size: 20px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 15px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 5%;
  border: none;
}
.footer-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  display: flex;
  justify-content: space-between;
  background: #2e2d2d;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 60px;
  padding-bottom: 30px;
}
.footer-section,
.footer-section a {
  color: white;
}
.services-container-footer ul {
  list-style: none;
}
.services-container-footer ul li {
  padding-bottom: 10px;
}
.services-container-footer ul li a {
  text-decoration: none;
}
.company-container-footer ul {
  list-style: none;
}
.company-container-footer ul li {
  padding-bottom: 10px;
}
.company-container-footer ul li a {
  text-decoration: none;
}
.legal-container-footer ul {
  list-style: none;
}
.legal-container-footer ul li {
  padding-bottom: 10px;
}
.legal-container-footer ul li a {
  text-decoration: none;
}
.news-container-footer ul {
  list-style: none;
}
.footer-hedder {
  padding-bottom: 20px;
}
.Subscribe-button {
  padding-top: 10px;
}
.Subscribe-button input {
  height: 40px;
  width: 250px;
  border-radius: 8px;
  text-align: center;
}
.Subscribe-button button {
  height: 40px;
  width: 100px;
  text-align: center;
  font-size: 14px;
  color: white;
  border-radius: 8px;
  background-color: rgb(100, 47, 245);
}
.right-reserve {
  background-color: #2e2d2d;
  padding-left: 60px;
  color: white;
  text-align: start;
  padding-bottom: 40px;
}
